body{
    padding: 0px;
    margin: 0px;
}
.header{
    border-bottom: 4px solid  #DC0101;
}
.page{

}
.footer{

}
.column{
    
    width: 1000px;
    margin: 0px auto;
}
.page .column{
    height: 100vh;
}
#logo-i-social{
    display: flex;
}
#logo-holder{
    flex-grow: 1;
}
#logo-holder img{
    height: 50px;
    width: 120px;
}
#social-holder a img{
    height: 28px;
    width: 28px;
    margin: 5px 7px;
}
#social-holder a{
    text-decoration: none;
}
#social-holder{
    flex-grow: 1;
    text-align: right;
}
#main-menu{
    display: flex;
}
#main-menu a{
    flex-grow: 1;
    text-align: center;
    text-decoration: none;
    color: #DC0101;
    display: block;
    padding: 10px 0px;
}
#main-menu a:hover,
#main-menu a.active{
    color: white;
    background-color: #DC0101;
    transition: 400ms ;
}
.page .column h1{
    font-size: 48pt;
    margin-top: 0px;
    text-align: center;
    padding-top: calc(50vh -  250px);
}
#dark-box{
    text-align:center;
    padding:50px;
    background-color: #22222280; 
    border: 1px solid white;
    font-size: 24pt;
}
#pocetna{
    text-align: center;
    color: white;
    background: url(../img/bacgroind-it-resenja.jpg);
    background-size: color;
    background-attachment:fixed;
}
#usluge{
    background: url(../img/bacgroind-it-resenja.jpg);
    background-size: color;
    background-attachment:fixed;
}
#karijera{
    background: url(../img/bacgroind-it-resenja.jpg);
    background-size: color;
    background-attachment:fixed;
}
.align-centar{
    text-align: center;
}
.krugovi{
    display: flex;
    margin: 35px 0px;
}
.krug-holder{
    flex-grow: 1;
}
.krug{
    text-align: center;
    padding: 25%;
    width: 50px;
    height: 50px;
    background-color: #DC0101;
    color: #ffffff;
    font-size: 48px;
    font-weight: bold;
    border-radius: 50%;
    margin: 20px auto;
}
.oznaka{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}
.tehnologije{
    display: flex;
    text-align: center;
}
.tehnologija{
    flex-grow: 1;
    margin: 35px 0px ;
}
.tehnologija img{
    height: 48px;
    width: 48px;
}
.tehnologija p{
    font-weight: bold;
}
#usluge{
    color: #ffffff;
}
#usluge{
    padding-top: 40px;
}
.service-row{
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
}
.service-row > div{
    text-align: center;
    position: relative;
    width: 300px;
    height: 150px;
    border: 1px solid #fff;
}
.service-row > div > img{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.service-row > div > p {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    background-color: #ffffffA2;
    color: black;
    font-weight: bold;
    margin-bottom: 0;
    border-top: 1px solid #ffffff;
}
#proizvodi h2{
    padding-top: 50px;
    text-align: center;
}
.matrica{
    margin-top: 40px;
    height: 500px;
    display: grid;
    grid-template:  "a b c"
                    "d b e"
                    "f f g";
    align-content: space-between;
    justify-content: space-between;

}
#proizvod-a{
    grid-area: a;
}
#proizvod-b{
    grid-area: b;
}
#proizvod-c{
    grid-area: c;
}
#proizvod-d{
    grid-area: d;
}
#proizvod-e{
    grid-area: e;
}
#proizvod-f{
    grid-area: f;
}
#proizvod-g{
    grid-area: g;
}